project
!project/build.properties
!project/build.sbt
!project/build.scala
!project/COPYING
!project/LICENSE
!project/README
!project/mcmod.info
src
!src/trussmod
assets
!assets/trussmod
forge
lib
bin
run
target

assets_tmp
project-backup
diff*
TODO
